@import '@fontsource-variable/dm-sans';
@import 'tailwindcss';
@import 'tw-animate-css';

@source '../**/*.{ts,tsx}';

@custom-variant dark (&:is(.dark *));

:root {
	--font-family-sans: 'DM Sans Variable';
	--header-size: 4.25rem;
	--background: oklch(96.47% 0.0401 157.79);
	--secondary-background: oklch(100% 0 0);
	--foreground: oklch(0% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(79.76% 0.2044 153.08);
	--border: oklch(0% 0 0);
	--ring: oklch(0% 0 0);
	--overlay: oklch(0% 0 0 / 0.8);
	--shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--border);
	--destructive: oklch(0.577 0.245 27.325);
	--border-radius: 5px;
	--shadow-size: 4px;
}

.dark {
	--background: oklch(22.45% 0.0316 158.41);
	--secondary-background: oklch(23.93% 0 0);
	--foreground: oklch(92.49% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(73.03% 0.1865 153.23);
	--border: oklch(0% 0 0);
	--ring: oklch(100% 0 0);
	--destructive: oklch(0.704 0.191 22.216);
}

@theme inline {
	--font-sans:
		var(--font-family-sans), ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		var(--font-family-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;

	--color-main: var(--main);
	--color-background: var(--background);
	--color-secondary-background: var(--secondary-background);
	--color-foreground: var(--foreground);
	--color-main-foreground: var(--main-foreground);
	--color-border: var(--border);
	--color-overlay: var(--overlay);
	--color-ring: var(--ring);
	--color-destructive: var(--destructive);

	--spacing-boxShadowX: var(--shadow-size);
	--spacing-boxShadowY: var(--shadow-size);
	--spacing-reverseBoxShadowX: -var(--shadow-size);
	--spacing-reverseBoxShadowY: -var(--shadow-size);
	--radius-base: var(--border-radius);
	--shadow-shadow: var(--shadow);
	--font-weight-base: 500;
	--font-weight-heading: 700;

	--animate-bounce-up: bounce-up 1s infinite;
	@keyframes bounce-up {
		0%,
		100% {
			transform: translateY(-12%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

@layer base {
	*,
	::before,
	::after {
		@apply box-border;
	}

	body {
		@apply text-foreground font-base bg-background min-h-screen min-w-xs font-sans;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}

@utility box-shadow {
	box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--border);
}

@utility hover-effect {
	@apply transition-all;

	&:hover {
		transform: translate(var(--shadow-size), var(--shadow-size));
		box-shadow: none;
	}

	&:disabled {
		pointer-events: none;
		opacity: 50%;
	}

	&:focus-visible {
		outline: none;
		box-shadow: none;
		@apply ring-2 ring-black ring-offset-2 ring-offset-white;
	}
}

@keyframes collapsible-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes collapsible-up {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}

@utility animate-collapsible {
	overflow: hidden;

	&[data-state='open'] {
		animation: collapsible-down 0.1s ease-in-out;
	}

	&[data-state='closed'] {
		animation: collapsible-up 0.2s ease-in-out;
	}
}
